<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" ng-app="pianistic">
  <head>
  	<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="Austin Tooley, Brian Armstrong, Kenneth Heyen">
  	<title>dbPianistic</title>

    <!--favicon-->
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAA
    AAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAenp6AL29vQD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIiAiIgIiIAAAAAAAAAAAAzMwMzMDMzADMzAzMwMzMAMzMDM
    zAzMwAzMwMzMDMzADMxETMREzMAMzAAMwADMwAzMAAzAAMzADMwADMAAzMAMzAAMwADMwAzMAAzAAMzADMwADMAA
    zMAMzAAMwADMwAAAAAAAAAACEIQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
  	
    <!--stylesheets-->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  	
  	<!--JS-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

    <!-- Page Specific Plugins -->
    <script src="js/tablesorter/jquery.tablesorter.js"></script>
    <script src="js/tablesorter/tables.js"></script>
    <script type="text/javascript" src="pianistic.js"></script>
    <script type="text/javascript" src="piano.js"></script>
    <script type="text/javascript" src="buildings.js"></script>
    <script type="text/javascript" src="roomtypes.js"></script>
    <script type="text/javascript" src="makes.js"></script>
    <script type="text/javascript" src="models.js"></script>
    <script type="text/javascript" src="types.js"></script>
    <script type="text/javascript" src="conditions.js"></script>

  </head>
  <body ng-controller="PianoController as pc">
  	<div class="container">
        <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">dbPianistic</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Current Tasks</a></li>
            <li class="active"><a href="pianos.html">Pianos</a></li>
            <li><a href="locations.html">Locations</a></li>
           	<li><a href="todo.html">To Do</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="addPiano.html">Add Piano</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <div class="container">
        <div class="col-lg-6">
          <h1><b>Inventory ID:</b> {{pc.piano.inventory_id}}</h1>
          <p><b>Current Location:</b> {{pc.piano.building}} {{pc.piano.room}} - {{pc.piano.room_type}}</p>
          <p><b>Make: </b>{{pc.piano.make}}</p>
          <p><b>Model: </b>{{pc.piano.model}}</p>
          <p><b>Serial #: </b>{{pc.piano.mfg_serial}}</p>
          <p><b>Type: </b>{{pc.piano.type}}</p>
          <p><b>Condition: </b>{{pc.piano.condition}}</p>
          <p><b>Cost: $</b>{{pc.piano.cost}}</p>
          <p><b>Age: </b>{{pc.piano.age}} years</p>
          <p><b>Service Interval: </b>{{pc.piano.service_interval}} days</p>
          <p><b>Next Service: </b>{{pc.piano.next_service}} days</p>
          <p><b>Service Notes: </b>{{pc.piano.service_notes}}</p>
          <p><b>Notes: </b>{{pc.piano.notes}}</p>
        </div>
        <div class="col-lg-6">
          <div class="table-responsive tableBox">
            <table class="table table-bordered table-hover table-striped historyTable">
              <div style="background:#3C3C3C" class="panel-heading">
                <div style="color:white" class="panel-title">Service History 
                  <a href="">
                    <div href="#" class="addButton" data-toggle="modal" data-target="#addRecordModal">Add Record
                    </div>
                  </a>



                      <!-- Modal -->
                  <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" aria-labelledby="addRecordModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="addRecordModalLabel">Add Record</h4>
                        </div>
                        <form name="recordForm" id="recordForm"	ng-submit="pc.addRecord()">
                          <div class="modal-body">
                            <div class="col-lg-12">
                              <label>Date: </label>
			      <input id="date" size="50" />
                              <label style="margin-top:10px">Action performed: </label>
                              <input type="text" id="action" placeho lder="General Service" required/>
                              <label style="margin-top:10px">Performed by: </label>
                              <input type="text" id="technician" placehol der="KH" required/>
                              <label>Temperature: </label>
                              <input type="text" id="temperature" placehol der="68"/>
                              <label>Humidity: </label>
                              <input type="text" id="humidity" placeho lder="50"/>
                              <label>Pitch: </label>
                              <input type="text" id="pitch"/>
                              <label>Reset Service Interval Date?</label>
                              <input type="checkbox" id="resetInterval" value="rstI" />
                            </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <input type="submit" class="btn btn-primary" value="Add"></input>
                          </div>
                        </form>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </div>
              </div>

              <thead>
                <tr>
                  <th>Date </th>
                  <th>Action Performed</th>
                  <th>Performed by</th>
                  <th>Rel.&nbsp;Hum.</th>
                  <th>Temp.</th>
                  <th>Pitch</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="event in pc.service_history | orderBy:'date'">
                  <td>{{event.date}}</td>
                  <td>{{event.action}}</td>
                  <td>{{event.technician}}</td>
                  <td>{{event.humidity}}</td>
                  <td>{{event.temperature}}</td>
                  <td>{{event.pitch}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- class=container-->
    </div> <!-- top navbar container -->

  <!--<form id="deletePianoForm" name="deletePianoForm" method="post">
  <div class="container">
    <div class="col-lg-6">
               <div class="table-responsive tableBox" style="display:none" id="editM">
                <table class="table table-bordered table-hover table-striped historyTable">
                  <div style="background:#3C3C3C" class="panel-heading">
                    <div style="color:white" class="panel-title">
                      Edit Piano
                    </div>
                  </div>
                  <thead>
                    <tr>
                      <th>Location</th>
                      <th>Condition</th>
                      <th>Service Interval</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td><input type="text" id = "nLoc" name = "location" placeholder = "room number"/></td>
                        <td><select id = "nCon" name = "condition"><option value="null">Condition</option><option value="1">Good</option><option value="2">Fair</option><option value="3">Poor</option></select></td>
                        <td><input type="text" id = "nInt" name = "interval" placeholder = "Service Interval"/> </td>
                      </tr>
                  </tbody>
                </table>
                </div>
      </div>
    </div>
    </div>
  </div>
    <hr>-->

  <!--
        <h2> Get Piano Info </h2>
  		<br> Enter Piano Type <input type="text" id="type">
  		<input type="button" value="Get Info" onclick="getInfo();"/>
  		<br> Location : <span id="Location1"></span> <br
  		> ID : <span id="ID1"></span> <br
  		> Condition : <span id="Condition1"></span> <br>
  -->
      <!--</div>  -->

    <div class="deleteButton">
      <!--changed ng-click to onclick due to javascript scoping errors of changing button functions-->
      <!--ng-click="deletePiano()"-->
      <button type="button" id="editBtn" data-toggle="modal" data-target="#editModal" class="deleteButton btn btn-primary" data-dismiss="modal">Edit Piano</button>
      <button type="button" id="deleteBtn" ng-click="pc.delete()" class="deleteButton btn btn-danger" data-dismiss="modal">Delete Piano</button>
      <input type="hidden" name="id" value="{{pc.piano.id}}">


      <div style="text-align:left" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="editModalLabel">Edit Piano</h4>
            </div>
            <form id="updatePianoForm" ng-submit="pc.updatePiano()">
              <div class="modal-body">
                <div class="col-lg-12">
                  <div style="float:left; padding: 10px; clear:left">
                    <label>Building: </label>
                    <select id="building" class="input-large" ng-controller="BuildingsController as bsc">
                      <option ng-selected="{{building == pc.piano.building}}" class="option-repeat" ng-repeat="building in bsc.buildings | orderBy: 'building'" value="{{building}}">{{building}}</option>
                    </select>
                  </div>
                  <div style="float:left; padding:10px">
                    <label>Room #: </label>
                    <input type="text" id="room" value="{{pc.piano.room}}">
                  </div>

                  <div style="float:left; padding:10px; clear:right">
                    <label>Room Type: </label>
                    <select id="room_type" class="input-large" ng-controller="RoomTypesController as rtsc">
                      <option ng-selected="{{roomType == pc.piano.room_type}}" class="option-repeat" ng-repeat="roomType in rtsc.roomtypes" value="{{roomType}}">{{roomType}}</option>
                    </select>
                  </div>

                  <div style="float:left; padding:10px; clear:left">
                    <label>Make: </label>
                    <select id="make" class="input-large" ng-controller="MakesController as msc">
                      <option ng-selected="{{make == pc.piano.make}}"class="option-repeat" ng-repeat="make in msc.makes" value="{{make}}">{{make}}</option>
                    </select>
                  </div>
                  <div style="float:left; padding:10px">
                    <label>Model: </label>
                    <select id="model" class="input-large" ng-controller="ModelsController as mosc">
                      <option ng-selected="{{model == pc.piano.model}}" class="option-repeat" ng-repeat="model in mosc.models" value="{{model}}">{{model}}</option>
                    </select>
                  </div>
                  <div style="float:left; padding:10px; clear:right">
                    <label>Type: </label>
                    <select id="type" class="input-large" ng-controller="TypesController as tsc">
                      <option ng-selected="{{type == pc.piano.type}}" class="option-repeat" ng-repeat="type in tsc.types" value="{{type}}">{{type}}</option>
                    </select>
                  </div>
                  <div style="float:left; padding:10px; clear:right">
                    <label>Year: </label>
                    <input type="text" id="year" value="{{pc.piano.year}}" disa bled>
                  </div>
                  <div style="float:left; padding:10px">
                    <label>Condition: </label>
                    <select id="condition" class="input-large" ng-controller="ConditionsController as csc">
                      <option ng-selected="{{condition == pc.piano.condtion}}"class="option-repeat" ng-repeat="condition in csc.conditions" value="{{condition}}">{{condition}}</option>
                    </select>
                  </div>
                  <div style="float:left; padding:10px">
                    <label>Serial Number: </label>
                      <input type="text" id="mfg_serial" value="{{pc.piano.mfg_serial}}">
                  </div>
                  <div style="float:left; padding:10px; clear:left">
                    <label>Inventory ID: </label>
                    <input type="text" id="inventory_id" value="{{pc.piano.inventory_id}}">
                    
                  </div>
                  <div style="float:left; padding:10px; clear:right">
                    <label>Cost: </label>
                    <input type="text" id="cost" value="{{pc.piano.cost}}">
                  </div>
                  <div style="float:left; padding:10px">
                    <label>Value: </label>
                    <input type="text" id="value" value="{{pc.piano.value}}">
                  </div>
                  
                  <div style="float:left; padding:10px; clear:left">
                    <label>Service Interval: </label>
                    <input type="text" id="service_interval" value="{{pc.piano.service_interval}}">
                  </div>
                  <div style="float:left; padding:10px">
                    <label>Previous Building: </label>
                      <select id="previous_building" class="input-large" ng-controller="BuildingsController as bsc">
                        <option class="option-repeat" ng-selected="{{building == pc.piano.previous_building}}" ng-repeat="building in bsc.buildings" value="{{building}}">{{building}}</option>
                      </select>
                  </div>
                  <div style="float:left; padding:10px; clear:right">
                    <label>Previous Room: </label>
                    <input type="text" id="previous_room" value="{{pc.piano.previous_room}}"/>
                  </div>
                  <div style="float:left; padding:10px; clear:left">
                    <label>Service Notes: </label>
                    <textarea id="service_notes">{{pc.piano.service_notes}}</textarea>
                  </div>
                  <div style="float:left; padding:10px; clear:right">
                    <label>General Notes: </label>
                    <textarea id="notes">{{pc.piano.notes}}</textarea>
                  </div>
                </div>
              </div>
              <div style="float:none; padding:10px; clear:both">
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <input type="submit" class="btn btn-primary" value="Submit"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
