<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" ng-app="pianistic">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Rybec Thalin Arethdar" >
  <title>dbPianistic</title>
  
  <!--favicon-->
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAA
  AAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAenp6AL29vQD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIiAiIgIiIAAAAAAAAAAAAzMwMzMDMzADMzAzMwMzMAMzMDM
  zAzMwAzMwMzMDMzADMxETMREzMAMzAAMwADMwAzMAAzAAMzADMwADMAAzMAMzAAMwADMwAzMAAzAAMzADMwADMAA
  zMAMzAAMwADMwAAAAAAAAAACEIQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  AAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
  
  <!--stylesheets-->
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  
  <!--JS-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script type="text/javascript" src="pianistic.js"></script>
  <script type="text/javascript" src="pianos.js"></script>
</head>
<body ng-controller="PianosController as psc">
  <div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">dbPianistic</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ><a href="index.html">Current Tasks</a></li>
          <li class="active"><a href="pianos.html">Pianos</a></li>
          <li ><a href="locations.html">Locations</a></li>
          <li><a href="todo.html">To Do</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="addPiano.html">Add Piano</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
    
    <div class="col-lg-12">
      <h2>Pianos</h2>
      Filter by:<br/><br/>
      <div class="col-lg-12">
        <form action="">
          <div class="searchBox">
            <div class="search">
              <label>Inventory ID: </label>
              <input type="text" ng-model="search.inventory_id"/>
            </div>
            <div class="search">
              <label>Type: </label>
              <input type="text" ng-model="search.type"/>
            </div>
            <div class="search">
              <label>Make: </label>
              <input type="text" ng-model="search.make"/>
            </div>
            <div class="search">
              <label>Model: </label>
              <input type="text" ng-model="search.model"/>
            </div>
            <div class="search">
              <label>Building: </label>
              <input type="text" ng-model="search.building"/>
            </div>
          </div>
          <br>
          <div class="searchBox">
            <div class="search">
              <label>Year: </label>
              <input type="text" ng-model="search.year"/>
            </div>
            <div class="search">
              <label>Age: </label>
              <input type="text" ng-model="search.age"/>
            </div>
            <div class="search">
              <label>Condition: </label>
              <input type="text" ng-model="search.condition"/>
            </div>
            <div class="search">
              <label>Serial: </label>
              <input type="text" ng-model="search.mfg_serial"/>
            </div>
            <div class="search">
              <label>Room #: </label>
              <input type="text" ng-model="search.room"/>
            </div>
          </div>
        </form>
      </div>
      <div class="table-responsive tableBox" style="clear: both;">
        <table id="pianoTable" class="table table-bordered table-hover table-striped"> <!-- tablesorter piano"> -->
          <thead>
            <tr>
              <th class="sorted">Location <span class="glyphicon glyphicon-chevron-down" ng-click="psc.sort($event, ['building', 'room'])"></span></th>
              <th>Inventory ID <span class="glyphicon glyphicon-chevron-down" ng-click="psc.sort($event, 'inventory_id')"></span></th>
              <th>Serial # <span class="glyphicon glyphicon-chevron-down" ng-click="psc.sort($event, 'mfg_serial')"></span></th>
              <th>Make <span class="glyphicon glyphicon-chevron-down" ng-click="psc.sort($event, 'make')"></span></th>
              <th>Model <span class="glyphicon glyphicon-chevron-down" ng-click="psc.sort($event, 'model')"></span></th>
              <th>Type <span class="glyphicon glyphicon-chevron-down" ng-click="psc.sort($event, 'type')"></span></th>
              <th>Year <span class="glyphicon glyphicon-chevron-down" ng-click="psc.sort($event, 'year')"></span></th>
              <th>Age <span class="glyphicon glyphicon-chevron-down" ng-click="psc.sort($event, 'age')"></span></th>
              <th>Condition <span class="glyphicon glyphicon-chevron-down" ng-click="psc.sort($event, 'condition')"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="piano in psc.pianos | filter:search | orderBy:psc.cSort.sortColumn:psc.cSort.reverse" ng-cloak ng-click="psc.openPage(piano)">
              <td>{{piano.building}} {{piano.room}}</td>
              <td>{{piano.inventory_id}}</td>
              <td>{{piano.mfg_serial}}</td>
              <td>{{piano.make}}</td>
              <td>{{piano.model}}</td>
              <td>{{piano.type}}</td>
              <td>{{piano.year}}</td> 
              <td>{{psc.getAge(piano.year)}}</td>
              <td>{{piano.condition}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- /container -->
  
  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
