.box {
	background-color: #FF0000;
}

table.table thead {
  cursor: pointer;
}

table.table thead tr th:hover {
  background-color: #f5f5f5;
}

table .sorted {
  background-color: #f2f2f2;
}

.panel-primary > .panel-heading {
color: #ffffff;
background-color: #3c3c3c;
border-color: #3c3c3c;
}

.panel-primary {
border-color: #dddddd;
}
 
 .panel {
	border-color: #dddddd;
 }

 .pianos {
 	
 }

 .search {
 	float: left;
 	margin-right: 6%;
 	margin-bottom: 1em;
 }

 .searchBox {
 	margin-left: auto;
 	margin-right: auto;
	margin-bottom:2em;
	height: 1.5em;
   clear: left;
 }

 .tableBox {
	margin-top: 2em;
 }

 .numPianos {
 	text-align:center;
 	font-size: 7em;
 }

 input, label {
    display:block;
    width:145px;
}

.input-large {
	width:145px;
	height: 35px;
	border-radius: 0px;
	line-height: 30px;
	border-color: lightgrey;
}

.historyTable {
	height: 50px;
	max-height: 300px;
	overflow: scroll;
}

.notes
{
	height: 150px;
	max-height: 300px;
	overflow: scroll;
}

.note {
	padding: 10px;
	border-color: #dddddd;
	box-shadow: 2px 2px 3px #888888;
}

.addButton {
	float:right;
	height: 45px;
	width: 100px;
	margin-right:-15px;
	margin-top: -10px;
	padding-top: 10px;
	text-align: center;
}

.addButton:hover{
	background-color: #222;
}

.deleteButton {
	text-align: center;
	margin-left:auto; 
	margin-right:auto;
	margin-bottom: 1em;
}

.modal-body {
	color: black;
}

.modal-title {
	color: black;
}
